<a href="https://colab.research.google.com/github/ArunK-ML/Project---Shopper-Spectrum-Customer-Segmentation-and-Product-Recommendations-in-E-Commerce/blob/main/Shopper_Spectrum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ðŸ›’ Shopper Spectrum: Customer Segmentation and Product Recommendations in E-Commerce**

# **Step 1:Dataset Collection and understanding**

In [1]:
import pandas as pd
df = pd.read_csv('/content/online_retail.csv')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2022-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2022-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2022-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2022-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2022-12-01 08:26:00,3.39,17850.0,United Kingdom

In [2]:
df.shape

(398517, 8)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398517 entries, 0 to 398516
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    398517 non-null  object
 1   StockCode    398517 non-null  object
 2   Description  397187 non-null  object
 3   Quantity     398517 non-null  int64
 4   InvoiceDate  398517 non-null  object
 5   UnitPrice    398517 non-null  float64
 6   CustomerID   296110 non-null  float64
 7   Country      398516 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 24.3+ MB

In [8]:
df.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [5]:
df.duplicated().sum()

np.int64(3202)

# **Step 2: ðŸ“Œ Data Preprocessing:**

**Handle Null Value**

In [7]:
df = df.dropna(subset=["CustomerID","Country"])

df["Description"] = df["Description"].fillna("No Description")

**Exclude cancelled invoices (InvoiceNo starting with 'C')**

In [9]:
# Remove cancelled invoices (InvoiceNo starting with 'C')
df = df[~df["InvoiceNo"].astype(str).str.startswith("C")]

**Remove negative or zero quantities and prices**

In [10]:
# Keep only rows where Quantity > 0 and UnitPrice > 0
df = df[(df["Quantity"] > 0) & (df["UnitPrice"] > 0)]